click==7.1.2
cloudevents==1.2.0
deprecation==2.1.0
Flask==1.1.2
functions-framework==2.1.0
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pathtools==0.1.2
watchdog==1.0.2
Werkzeug==1.0.1
asana==0.10.3
ptvsd==4.3.2 # Required for debugging.
python-dotenv==0.17.0
requests==2.25.1
numpy==1.22.2
colour==0.1.5
